.gallery-container {
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 24px;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 200px 200px; /* Reduced height */
    gap: 1rem;
}

.gallery-item {
    border-radius: 16px;
    overflow: hidden;
    cursor: pointer;
}

.gallery-item.large {
    grid-row: span 2;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.gallery-item:hover img {
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .gallery-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 120px; /* Fixed height for the row */
        gap: 0.5rem;
    }

    .gallery-item {
        height: 100%;
    }

    .gallery-item.large {
        grid-row: span 1; /* Reset row span to normal */
        height: 100%;
    }
}
